# Quantitative Momentum Investing Strategy

"Momentum investing" means investing in the stocks that have increased in price the most.

For this project, we're going to build an investing strategy that selects the 50 stocks with the highest price momentum. From there, we will calculate recommended trades for an equal-weight portfolio of these 50 stocks.

In [1]:
import numpy as np #The Numpy numerical computing library
import pandas as pd #The Pandas data science library
import requests #The requests library for HTTP requests in Python
import xlsxwriter #The XlsxWriter libarary for 
import math #The Python math module
from scipy import stats #The SciPy stats module
from statistics import mean #The mean metric that we'll use to make a realistic momentum

We start with reading our data into the pandas data frame.

In [2]:
stocks = pd.read_csv('sp_500_stocks.csv')
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

In [3]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ticker  505 non-null    object
dtypes: object(1)
memory usage: 2.0+ KB

The data has no null entries, however, we know that four of the stocks listed here have been delisted. Therefore, we will remove them from the list. Ref. Equal weight index fund project

Well I was wrong, I later realised that there are some None value that have to be dealt with. Therefore, I am adding a line of code for the same. Don't run it now, when you find the error, then remove the '#' and run all later cells.

In [4]:
stocks = stocks[~stocks['Ticker'].isin(['DISCA', 'HFC', 'VIAC', 'WLTW'])] #to get rid of the 4 rows with delisted stocks
#stocks = stocks[~stocks['Ticker'].isin(['CTL', 'ETFC', 'MYL', 'NBL'])] #for an error that arises later on
stocks # we don't care about the index here as we will create a new data frame and store the values there

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[501 rows x 1 columns]

We then import the API token necessary for the API call.

In [5]:
from secrets import IEX_CLOUD_API_TOKEN

## Testing our API call

Using the same method as before we will create a URL for the API call using the base URL: https://sandbox.iexapis.com

Now it's time to structure our API calls to IEX cloud.
We need the following information from the API:
1. One year stock returns
2. Price of each stock

Firstly, since we want these metrics for particular stocks, we'll use the stock endpoint. However, this endpoint does not give us the latest price of the stock, therefore, we'll have to use this in tandem with the /quote/ endpoint.
After quite a bit of searching we land up on a responde attribute called year1ChangePercent which is in the Stats endpoint. Addind /satble/ as well for the most satble version in the data. 
htts://sandbox.iexapis.com/stable/stock/{symbol}stats?token={TOKEN}

In [7]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/stats?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url)
data.status_code

200

So that gives us response 200 which means the API call is wroking perfectly. Now we same the data as a dictionary. The key that we want is 'year1changepercent'

In [18]:
data = requests.get(api_url).json()
print(data)
data['year1ChangePercent']

{'companyName': 'Apple Inc', 'marketcap': 2447461811099, 'week52high': 183.63, 'week52low': 133.11, 'week52highSplitAdjustOnly': 191.4, 'week52lowSplitAdjustOnly': 129.86, 'week52change': 0.03911628927111773, 'sharesOutstanding': 16929212573, 'float': 0, 'avg10Volume': 76884786, 'avg30Volume': 75583933, 'day200MovingAvg': 160.08, 'day50MovingAvg': 143.65, 'employees': 153812, 'ttmEPS': 6.22, 'ttmDividendRate': 0.8961801053419308, 'dividendYield': 0.006130655266382796, 'nextDividendDate': '', 'exDividendDate': '2022-04-28', 'nextEarningsDate': '2022-07-25', 'peRatio': 24.18322848614018, 'beta': 1.2835373627891, 'maxChangePercent': 59.29533110443586, 'year5ChangePercent': 3.382863832063613, 'year2ChangePercent': 0.6045487879939576, 'year1ChangePercent': 0.06681828242681734, 'ytdChangePercent': -0.15344087316122115, 'month6ChangePercent': -0.09082201979189025, 'month3ChangePercent': -0.09889398449597887, 'month1ChangePercent': 0.1503432292965604, 'day30ChangePercent': 0.1505803341625761, 'day5ChangePercent': 0.03678617453384214}

0.06681828242681734

## Creating chunks for the API call and buliding our Data Frame.

We start by creating chunks of the data and adding them to a list.

In [6]:
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]
symbol_groups = list(chunks(stocks['Ticker'], 100))
print(len(symbol_groups))
symbol_groups

6

[0         A
 1       AAL
 2       AAP
 3      AAPL
 4      ABBV
       ...
 95     CINF
 96       CL
 97      CLX
 98      CMA
 99    CMCSA
 Name: Ticker, Length: 100, dtype: object,
 100     CME
 101     CMG
 102     CMI
 103     CMS
 104     CNC
        ...
 196     FTV
 197      GD
 198      GE
 199    GILD
 200     GIS
 Name: Ticker, Length: 100, dtype: object,
 201       GL
 202      GLW
 203       GM
 204     GOOG
 205    GOOGL
        ...
 297      MAS
 298      MCD
 299     MCHP
 300      MCK
 301      MCO
 Name: Ticker, Length: 100, dtype: object,
 302    MDLZ
 303     MDT
 304     MET
 305     MGM
 306     MHK
        ...
 397      RL
 398     RMD
 399     ROK
 400     ROL
 401     ROP
 Name: Ticker, Length: 100, dtype: object,
 402    ROST
 403     RSG
 404     RTX
 405    SBAC
 406    SBUX
        ...
 499     XYL
 500     YUM
 501     ZBH
 502    ZBRA
 503    ZION
 Name: Ticker, Length: 100, dtype: object,
 504    ZTS
 Name: Ticker, dtype: object]

After which we'll take each chunk join them using the comma as a seperator so that we can pass them onto IEX cloud within the limit of 100 stocks at a time for batch API calls.

In [7]:
symbol_strings = []
for i in range(0, len(symbol_groups)): # loop runs for each chunk
    symbol_strings.append(','.join(symbol_groups[i])) # join() joins all keys in the chunk and append() add each joined chunk
    print(symbol_strings[i])

A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,ADI,ADM,ADP,ADSK,AEE,AEP,AES,AFL,AIG,AIV,AIZ,AJG,AKAM,ALB,ALGN,ALK,ALL,ALLE,ALXN,AMAT,AMCR,AMD,AME,AMGN,AMP,AMT,AMZN,ANET,ANSS,ANTM,AON,AOS,APA,APD,APH,APTV,ARE,ATO,ATVI,AVB,AVGO,AVY,AWK,AXP,AZO,BA,BAC,BAX,BBY,BDX,BEN,BF.B,BIIB,BIO,BK,BKNG,BKR,BLK,BLL,BMY,BR,BRK.B,BSX,BWA,BXP,C,CAG,CAH,CARR,CAT,CB,CBOE,CBRE,CCI,CCL,CDNS,CDW,CE,CERN,CF,CFG,CHD,CHRW,CHTR,CI,CINF,CL,CLX,CMA,CMCSA
CME,CMG,CMI,CMS,CNC,CNP,COF,COG,COO,COP,COST,COTY,CPB,CPRT,CRM,CSCO,CSX,CTAS,CTL,CTSH,CTVA,CTXS,CVS,CVX,CXO,D,DAL,DD,DE,DFS,DG,DGX,DHI,DHR,DIS,DISCK,DISH,DLR,DLTR,DOV,DOW,DPZ,DRE,DRI,DTE,DUK,DVA,DVN,DXC,DXCM,EA,EBAY,ECL,ED,EFX,EIX,EL,EMN,EMR,EOG,EQIX,EQR,ES,ESS,ETFC,ETN,ETR,EVRG,EW,EXC,EXPD,EXPE,EXR,F,FANG,FAST,FB,FBHS,FCX,FDX,FE,FFIV,FIS,FISV,FITB,FLIR,FLS,FLT,FMC,FOX,FOXA,FRC,FRT,FTI,FTNT,FTV,GD,GE,GILD,GIS
GL,GLW,GM,GOOG,GOOGL,GPC,GPN,GPS,GRMN,GS,GWW,HAL,HAS,HBAN,HBI,HCA,HD,HES,HIG,HII,HLT,HOLX,HON,HPE,HPQ,HRB,HRL,HSIC,HST,HSY,HUM,HWM,IBM,ICE,IDXX,IEX,IFF,ILMN,INCY,INFO,INTC,INTU,IP,IPG,IPGP,IQV,IR,IRM,ISRG,IT,ITW,IVZ,J,JBHT,JCI,JKHY,JNJ,JNPR,JPM,K,KEY,KEYS,KHC,KIM,KLAC,KMB,KMI,KMX,KO,KR,KSS,KSU,L,LB,LDOS,LEG,LEN,LH,LHX,LIN,LKQ,LLY,LMT,LNC,LNT,LOW,LRCX,LUV,LVS,LW,LYB,LYV,MA,MAA,MAR,MAS,MCD,MCHP,MCK,MCO
MDLZ,MDT,MET,MGM,MHK,MKC,MKTX,MLM,MMC,MMM,MNST,MO,MOS,MPC,MRK,MRO,MS,MSCI,MSFT,MSI,MTB,MTD,MU,MXIM,MYL,NBL,NCLH,NDAQ,NEE,NEM,NFLX,NI,NKE,NLOK,NLSN,NOC,NOV,NOW,NRG,NSC,NTAP,NTRS,NUE,NVDA,NVR,NWL,NWS,NWSA,O,ODFL,OKE,OMC,ORCL,ORLY,OTIS,OXY,PAYC,PAYX,PBCT,PCAR,PEAK,PEG,PEP,PFE,PFG,PG,PGR,PH,PHM,PKG,PKI,PLD,PM,PNC,PNR,PNW,PPG,PPL,PRGO,PRU,PSA,PSX,PVH,PWR,PXD,PYPL,QCOM,QRVO,RCL,RE,REG,REGN,RF,RHI,RJF,RL,RMD,ROK,ROL,ROP
ROST,RSG,RTX,SBAC,SBUX,SCHW,SEE,SHW,SIVB,SJM,SLB,SLG,SNA,SNPS,SO,SPG,SPGI,SRE,STE,STT,STX,STZ,SWK,SWKS,SYF,SYK,SYY,T,TAP,TDG,TDY,TEL,TFC,TFX,TGT,TIF,TJX,TMO,TMUS,TPR,TROW,TRV,TSCO,TSN,TT,TTWO,TWTR,TXN,TXT,TYL,UA,UAA,UAL,UDR,UHS,ULTA,UNH,UNM,UNP,UPS,URI,USB,V,VAR,VFC,VLO,VMC,VNO,VRSK,VRSN,VRTX,VTR,VZ,WAB,WAT,WBA,WDC,WEC,WELL,WFC,WHR,WM,WMB,WMT,WRB,WRK,WST,WU,WY,WYNN,XEL,XLNX,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION
ZTS

We now create an empty data frame in pandas to push the data, from the API call, into it.

In [8]:
my_columns = ['Ticker', 'Price', 'One-Year Price Return', 'Number of Shares to Buy']
final_dataframe = pd.DataFrame(columns = my_columns)

Now, to push the data into our data frame. We will use both, stats and quote endpoint to get the data we require.

In [130]:
final_dataframe = pd.DataFrame(columns = my_columns)
for symbol_string in symbol_strings:
    batch_api_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_url).json()
    #print(data)
    for symbol in symbol_string.split(','):
        final_dataframe = final_dataframe.append(
        pd.Series(
        [symbol,
        data[symbol]['quote']['latestPrice'],
        data[symbol]['stats']['year1ChangePercent'],
        'N/A'
        ],
        index = my_columns),
        ignore_index = True)
final_dataframe

    Ticker   Price One-Year Price Return Number of Shares to Buy
0        A  120.06             -0.193485                     N/A
1      AAL   15.28              -0.20841                     N/A
2      AAP  195.60             -0.049764                     N/A
3     AAPL  158.27             0.0692547                     N/A
4     ABBV  153.40              0.361053                     N/A
..     ...     ...                   ...                     ...
496    YUM  121.83              0.076254                     N/A
497    ZBH  113.00             -0.287721                     N/A
498   ZBRA  336.04             -0.387568                     N/A
499   ZION   53.66              0.107201                     N/A
500    ZTS  184.02             -0.100769                     N/A

[501 rows x 4 columns]

## Removing Low-Momentum Stocks

The investment strategy that we're building seeks to identify the 50 highest-momentum stocks in the S&P 500.

Because of this, the next thing we need to do is remove all the stocks in our DataFrame that fall below this momentum threshold. We'll sort the DataFrame by the stocks' one-year price return, and drop all stocks outside the top 50.

In [12]:
final_dataframe.sort_values('One-Year Price Return', ascending = False, inplace = True) #inplace = True is used to modify the original data frame
final_dataframe = final_dataframe[:50]
final_dataframe

    Ticker     Price One-Year Price Return Number of Shares to Buy
273     LB    82.250               2.38275                     N/A
355    OXY    64.240               1.57744                     N/A
147    DVN    60.160               1.47269                     N/A
315    MRO    23.120               1.10622                     N/A
42     APA    35.830               1.02434                     N/A
89      CF    89.790              0.949801                     N/A
465    VLO   112.670              0.872257                     N/A
313    MPC    91.300              0.784474                     N/A
298    MCK   337.800              0.775873                     N/A
138   DLTR   178.700               0.74788                     N/A
109    COP    92.000              0.726125                     N/A
225    HRB    38.200               0.72382                     N/A
384    PXD   223.160              0.717591                     N/A
492    XOM    93.080              0.704883                     N/A
312    MOS    48.950               0.69304                     N/A
174   FANG   120.120              0.632712                     N/A
159    EOG   108.760              0.599731                     N/A
463    VAR   178.180              0.582083                     N/A
211    HAL    30.120              0.558382                     N/A
383    PWR   133.100              0.545944                     N/A
123    CVX   151.240              0.532216                     N/A
271    KSU   307.160              0.512898                     N/A
66     BKR    26.770               0.49406                     N/A
470   VRTX   287.060              0.459125                     N/A
217    HES   105.570              0.453489                     N/A
281    LLY   325.950              0.431914                     N/A
54     AZO  2277.980              0.405802                     N/A
482    WMB    33.500              0.402248                     N/A
169    EXC    44.859              0.399623                     N/A
4     ABBV   151.880              0.362989                     N/A
107    COG    22.730              0.340829                     N/A
457    UNM    34.410              0.336884                     N/A
456    UNH   541.020              0.333435                     N/A
120   CTVA    55.850              0.331687                     N/A
342    NUE   119.700              0.330275                     N/A
11     ADM    74.960              0.327497                     N/A
363    PFE    52.700              0.325731                     N/A
484    WRB    66.140              0.321321                     N/A
410    SLB    35.690              0.313697                     N/A
153     ED    94.170              0.309086                     N/A
335    NOC   468.980              0.305671                     N/A
5      ABC   147.110              0.300542                     N/A
320    MTB   173.240              0.295726                     N/A
104    CNC    91.380              0.291827                     N/A
39    ANTM   498.530              0.289394                     N/A
98     CMA    81.280              0.277985                     N/A
426    SYY    89.210              0.272223                     N/A
381    PSX    91.060              0.271981                     N/A
110   COST   546.250               0.27103                     N/A
199    GIS    76.300               0.26399                     N/A

We need to reset the index.

In [13]:
final_dataframe.reset_index(drop = True, inplace = True)
final_dataframe

   Ticker     Price One-Year Price Return Number of Shares to Buy
0      LB    82.250               2.38275                     N/A
1     OXY    64.240               1.57744                     N/A
2     DVN    60.160               1.47269                     N/A
3     MRO    23.120               1.10622                     N/A
4     APA    35.830               1.02434                     N/A
5      CF    89.790              0.949801                     N/A
6     VLO   112.670              0.872257                     N/A
7     MPC    91.300              0.784474                     N/A
8     MCK   337.800              0.775873                     N/A
9    DLTR   178.700               0.74788                     N/A
10    COP    92.000              0.726125                     N/A
11    HRB    38.200               0.72382                     N/A
12    PXD   223.160              0.717591                     N/A
13    XOM    93.080              0.704883                     N/A
14    MOS    48.950               0.69304                     N/A
15   FANG   120.120              0.632712                     N/A
16    EOG   108.760              0.599731                     N/A
17    VAR   178.180              0.582083                     N/A
18    HAL    30.120              0.558382                     N/A
19    PWR   133.100              0.545944                     N/A
20    CVX   151.240              0.532216                     N/A
21    KSU   307.160              0.512898                     N/A
22    BKR    26.770               0.49406                     N/A
23   VRTX   287.060              0.459125                     N/A
24    HES   105.570              0.453489                     N/A
25    LLY   325.950              0.431914                     N/A
26    AZO  2277.980              0.405802                     N/A
27    WMB    33.500              0.402248                     N/A
28    EXC    44.859              0.399623                     N/A
29   ABBV   151.880              0.362989                     N/A
30    COG    22.730              0.340829                     N/A
31    UNM    34.410              0.336884                     N/A
32    UNH   541.020              0.333435                     N/A
33   CTVA    55.850              0.331687                     N/A
34    NUE   119.700              0.330275                     N/A
35    ADM    74.960              0.327497                     N/A
36    PFE    52.700              0.325731                     N/A
37    WRB    66.140              0.321321                     N/A
38    SLB    35.690              0.313697                     N/A
39     ED    94.170              0.309086                     N/A
40    NOC   468.980              0.305671                     N/A
41    ABC   147.110              0.300542                     N/A
42    MTB   173.240              0.295726                     N/A
43    CNC    91.380              0.291827                     N/A
44   ANTM   498.530              0.289394                     N/A
45    CMA    81.280              0.277985                     N/A
46    SYY    89.210              0.272223                     N/A
47    PSX    91.060              0.271981                     N/A
48   COST   546.250               0.27103                     N/A
49    GIS    76.300               0.26399                     N/A

In [14]:
def portfolio_input():
    global portfolio_size
    portfolio_size = input('Please enter the value of your portfolio:')
    try: 
        val = float(portfolio_size)
    except ValueError: #forcing a string to float() gives a Value Error
        print('Please enter the portfolio value as a number without currency')
        portfolio_size = input('Please enter the value of your portfolio:')
portfolio_input()

Please enter the value of your portfolio: 1000000

## Calculating the number of shares to buy:

In [15]:
position_size = float(portfolio_size)/len(final_dataframe.index)
for index in final_dataframe.index:
    final_dataframe.loc[index, 'Number of Shares to Buy'] = math.floor(position_size/final_dataframe['Price'][index])
final_dataframe

c:\users\suer\appdata\local\programs\python\python36-32\lib\site-packages\pandas\core\indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

   Ticker     Price One-Year Price Return Number of Shares to Buy
0      LB    82.250               2.38275                     243
1     OXY    64.240               1.57744                     311
2     DVN    60.160               1.47269                     332
3     MRO    23.120               1.10622                     865
4     APA    35.830               1.02434                     558
5      CF    89.790              0.949801                     222
6     VLO   112.670              0.872257                     177
7     MPC    91.300              0.784474                     219
8     MCK   337.800              0.775873                      59
9    DLTR   178.700               0.74788                     111
10    COP    92.000              0.726125                     217
11    HRB    38.200               0.72382                     523
12    PXD   223.160              0.717591                      89
13    XOM    93.080              0.704883                     214
14    MOS    48.950               0.69304                     408
15   FANG   120.120              0.632712                     166
16    EOG   108.760              0.599731                     183
17    VAR   178.180              0.582083                     112
18    HAL    30.120              0.558382                     664
19    PWR   133.100              0.545944                     150
20    CVX   151.240              0.532216                     132
21    KSU   307.160              0.512898                      65
22    BKR    26.770               0.49406                     747
23   VRTX   287.060              0.459125                      69
24    HES   105.570              0.453489                     189
25    LLY   325.950              0.431914                      61
26    AZO  2277.980              0.405802                       8
27    WMB    33.500              0.402248                     597
28    EXC    44.859              0.399623                     445
29   ABBV   151.880              0.362989                     131
30    COG    22.730              0.340829                     879
31    UNM    34.410              0.336884                     581
32    UNH   541.020              0.333435                      36
33   CTVA    55.850              0.331687                     358
34    NUE   119.700              0.330275                     167
35    ADM    74.960              0.327497                     266
36    PFE    52.700              0.325731                     379
37    WRB    66.140              0.321321                     302
38    SLB    35.690              0.313697                     560
39     ED    94.170              0.309086                     212
40    NOC   468.980              0.305671                      42
41    ABC   147.110              0.300542                     135
42    MTB   173.240              0.295726                     115
43    CNC    91.380              0.291827                     218
44   ANTM   498.530              0.289394                      40
45    CMA    81.280              0.277985                     246
46    SYY    89.210              0.272223                     224
47    PSX    91.060              0.271981                     219
48   COST   546.250               0.27103                      36
49    GIS    76.300               0.26399                     262

## Building a More Realistic Momentum Strategy:

Real-world quantitative investment firms differentiate between "high quality" and "low quality" momentum stocks:

- High-quality momentum stocks show "slow and steady" outperformance over long periods of time
- Low-quality momentum stocks might not show any momentum for a long time, and then surge upwards.

The reason why high-quality momentum stocks are preferred is because low-quality momentum can often be cause by short-term news that is unlikely to be repeated in the future (such as an FDA approval for a biotechnology company).

To identify high-quality momentum, we're going to build a strategy that selects stocks from the highest percentiles of:

- 1-month price returns
- 3-month price returns
- 6-month price returns
- 1-year price returns

Let's start by building our DataFrame. You'll notice that I use the abbreviation hqm often. It stands for high-quality momentum.

In [9]:
hqm_columns = ['Ticker', 
               'Price',
               'One-month Return',
               'One-month Return Percentile', 
               'Three-month Return',
               'Three-month Return Percentile', 
               'Six-month Return',
               'Six-month Return Percentile', 
               'One-Year Return',
               'One-Year Return Percentile', 
               'Number of Shares to Buy']
hqm_dataframe = pd.DataFrame(columns = hqm_columns)
hqm_dataframe

Empty DataFrame
Columns: [Ticker, Price, One-month Return, One-month Return Percentile, Three-month Return, Three-month Return Percentile, Six-month Return, Six-month Return Percentile, One-Year Return, One-Year Return Percentile, Number of Shares to Buy]
Index: []

Now we need to make an API call to get these metrics. We can refurbish the code from above to fit our requirement here. Reusability is one of the key components of a good code.

In [10]:
for symbol_string in symbol_strings:
    batch_api_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_url).json()
    #print(data)
    for symbol in symbol_string.split(','):
        hqm_dataframe = hqm_dataframe.append( # the only changes that are made are the columns and the name of the data frame
        pd.Series( 
        [symbol,
         data[symbol]['quote']['latestPrice'],
         data[symbol]['stats']['month1ChangePercent'],
         'N/A',
         data[symbol]['stats']['month3ChangePercent'],
         'N/A',
         data[symbol]['stats']['month6ChangePercent'],
         'N/A',
         data[symbol]['stats']['year1ChangePercent'],
         'N/A',
         'N/A'],
        index = hqm_columns),
        ignore_index = True)
hqm_dataframe

,Ticker,Price,One-month Return,One-month Return Percentile,Three-month Return,Three-month Return Percentile,Six-month Return,Six-month Return Percentile,One-Year Return,One-Year Return Percentile,Number of Shares to Buy
0,A,125.200,0.120315,N/A,0.0177166,N/A,-0.0734235,N/A,-0.144705,N/A,N/A
1,AAL,13.970,0.0826888,N/A,-0.307683,N/A,-0.139079,N/A,-0.353409,N/A,N/A
2,AAP,198.310,0.107551,N/A,-0.158497,N/A,-0.151976,N/A,-0.070692,N/A,N/A
3,AAPL,153.520,0.144247,N/A,-0.0680674,N/A,-0.04238,N/A,0.0771907,N/A,N/A
4,ABBV,150.830,0.0397097,N/A,-0.060248,N/A,0.143063,N/A,0.317363,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...
496,YUM,120.110,0.0812466,N/A,-0.0292748,N/A,-0.0229501,N/A,0.0494523,N/A,N/A
497,ZBH,110.688,0.0634575,N/A,-0.174896,N/A,-0.116461,N/A,-0.317956,N/A,N/A
498,ZBRA,326.200,0.124716,N/A,-0.155061,N/A,-0.328445,N/A,-0.391153,N/A,N/A
499,ZION,53.310,0.000583426,N/A,-0.148942,N/A,-0.146286,N/A,0.0274332,N/A,N/A
500,ZTS,177.740,0.117169,N/A,-0.0208659,N/A,-0.0968353,N/A,-0.0832363,N/A,N/A

## Calculating Momentum Percentiles:

We now need to calculate momentum percentile scores for every stock in the universe. More specifically, we need to calculate percentile scores for the following metrics for every stock:

- One-Year Price Return
- Six-Month Price Return
- Three-Month Price Return
- One-Month Price Return

Here's how we'll do this:

In [12]:
time_periods = [
                'One-month',
                'Three-month',
                'Six-month',
                'One-Year',
                ]
for time_period in time_periods:
    for index in hqm_dataframe.index:
        hqm_dataframe.loc[index, f'{time_period} Return Percentile'] = stats.percentileofscore(
            hqm_dataframe[f'{time_period} Return'],
            hqm_dataframe.loc[index, f'{time_period} Return'])
hqm_dataframe

TypeError: '<' not supported between instances of 'NoneType' and 'float'

Well this should have worked, but, we kept getting an error saying 'NoneType' and 'float' are not comparable. Which means there are rows in this data with None values is them. So we'll run a couple of test loops for that.

In [49]:
tests = time_periods
test_dataframe = pd.DataFrame(columns = tests)
for test in tests:
    a = 0
    for index in hqm_dataframe.index:
        if hqm_dataframe[f'{test} Return'][index] is None:
            test_dataframe.loc[a, test] = index
            a = a + 1
test_dataframe

  One-month Three-month Six-month One-Year
0       118         118       118      118
1       164         164       164      164
2       324         324       324      324
3       325         325       325      325

We see that each column has four None values at the same index to the next column, i.e., that 4 rows have None values in them. Now, we can deal with this by making all of them 0, but that will skew our percentile scores, therefore, it would be better to simply remove them from the data itself.

I wrote a program only to realise that isnull() method could be used here instead. I'm new to python and may not present the optimal solution in one go but I usually do tend to be able to work it out. We can do this by calling all the rows with columns that have None value in them.

In [22]:
hqm_dataframe[hqm_dataframe.isnull().any(axis=1)]

,Ticker,Price,One-month Return,One-month Return Percentile,Three-month Return,Three-month Return Percentile,Six-month Return,Six-month Return Percentile,One-Year Return,One-Year Return Percentile,Number of Shares to Buy
118,CTL,11.000,None,N/A,None,N/A,None,N/A,None,N/A,N/A
164,ETFC,51.440,None,N/A,None,N/A,None,N/A,None,N/A,N/A
324,MYL,16.484,None,N/A,None,N/A,None,N/A,None,N/A,N/A
325,NBL,8.760,None,N/A,None,N/A,None,N/A,None,N/A,N/A

We need to go back and remove these from the data sheet.

Now that that's done. We copy the same code and that should run fine. I am leaving the error message there in order to showcase the live debugging of the code which is a learning process for every coder.

In [91]:
time_periods = [
                'One-month',
                'Three-month',
                'Six-month',
                'One-Year',
                ]
for time_period in time_periods:
    for index in hqm_dataframe.index:
        hqm_dataframe.loc[index, f'{time_period} Return Percentile'] = stats.percentileofscore(
            hqm_dataframe[f'{time_period} Return'],
            hqm_dataframe.loc[index, f'{time_period} Return'])
hqm_dataframe

,Ticker,Price,One-month Return,One-month Return Percentile,Three-month Return,Three-month Return Percentile,Six-month Return,Six-month Return Percentile,One-Year Return,One-Year Return Percentile,Number of Shares to Buy
0,A,123.36,0.060916,43.0584,-0.060015,69.8189,-0.153141,39.4366,-0.188820,24.3461,N/A
1,AAL,15.93,0.174730,97.1831,-0.226758,13.2797,-0.128714,45.2716,-0.207755,21.7304,N/A
2,AAP,193.79,0.142489,91.1469,-0.139120,37.0221,-0.174562,32.3944,-0.050404,49.6982,N/A
3,AAPL,159.73,0.154477,93.5614,-0.097903,54.7284,-0.091762,55.1308,0.066542,71.831,N/A
4,ABBV,148.64,0.096924,72.6358,-0.033592,77.0624,0.127758,92.1529,0.365672,94.165,N/A
...,...,...,...,...,...,...,...,...,...,...,...
492,YUM,122.47,0.098578,73.6419,-0.034082,76.66,-0.028462,69.2153,0.077936,73.0382,N/A
493,ZBH,113.00,0.047974,34.2052,-0.183446,23.34,-0.128652,45.4728,-0.286008,11.0664,N/A
494,ZBRA,335.54,0.082818,62.7767,-0.237666,11.0664,-0.399843,3.21932,-0.392609,4.82897,N/A
495,ZION,55.19,0.006512,18.3099,-0.200994,18.1087,-0.215026,25.1509,0.107400,76.0563,N/A
496,ZTS,183.78,0.117911,82.8974,-0.044870,74.0443,-0.117819,48.0885,-0.101715,38.833,N/A

## Calculating the HQM Score:

We'll now calculate our HQM Score, which is the high-quality momentum score that we'll use to filter for stocks in this investing strategy.

The HQM Score will be the arithmetic mean of the 4 momentum percentile scores that we calculated in the last section.

To calculate arithmetic mean, we will use the mean function from Python's built-in statistics module.

In [92]:
for row in hqm_dataframe.index:
    momentum_percentiles = []
    for time_period in time_periods:
        momentum_percentiles.append(hqm_dataframe.loc[row, f'{time_period} Return Percentile'])
    hqm_dataframe.loc[row, 'HQM Score'] = mean(momentum_percentiles) #.loc[] will create a column with the key it can't find
hqm_dataframe # so we don't need to go back and create a new column in the data frame

,Ticker,Price,One-month Return,One-month Return Percentile,Three-month Return,Three-month Return Percentile,Six-month Return,Six-month Return Percentile,One-Year Return,One-Year Return Percentile,Number of Shares to Buy,HQM Score
0,A,123.36,0.060916,43.0584,-0.060015,69.8189,-0.153141,39.4366,-0.188820,24.3461,N/A,44.164990
1,AAL,15.93,0.174730,97.1831,-0.226758,13.2797,-0.128714,45.2716,-0.207755,21.7304,N/A,44.366197
2,AAP,193.79,0.142489,91.1469,-0.139120,37.0221,-0.174562,32.3944,-0.050404,49.6982,N/A,52.565392
3,AAPL,159.73,0.154477,93.5614,-0.097903,54.7284,-0.091762,55.1308,0.066542,71.831,N/A,68.812877
4,ABBV,148.64,0.096924,72.6358,-0.033592,77.0624,0.127758,92.1529,0.365672,94.165,N/A,84.004024
...,...,...,...,...,...,...,...,...,...,...,...,...
492,YUM,122.47,0.098578,73.6419,-0.034082,76.66,-0.028462,69.2153,0.077936,73.0382,N/A,73.138833
493,ZBH,113.00,0.047974,34.2052,-0.183446,23.34,-0.128652,45.4728,-0.286008,11.0664,N/A,28.521127
494,ZBRA,335.54,0.082818,62.7767,-0.237666,11.0664,-0.399843,3.21932,-0.392609,4.82897,N/A,20.472837
495,ZION,55.19,0.006512,18.3099,-0.200994,18.1087,-0.215026,25.1509,0.107400,76.0563,N/A,34.406439
496,ZTS,183.78,0.117911,82.8974,-0.044870,74.0443,-0.117819,48.0885,-0.101715,38.833,N/A,60.965795

That looks fine.

## Selecting the 50 Best Momentum Stocks:

Now all we need to do it to arrange them in descending order of the HQM Score and select the first 50 stocks which we can then use to calculate the number of shares.

In [93]:
hqm_dataframe.sort_values(by = 'HQM Score', ascending = False, inplace = True)
hqm_dataframe = hqm_dataframe[:50]
hqm_dataframe

,Ticker,Price,One-month Return,One-month Return Percentile,Three-month Return,Three-month Return Percentile,Six-month Return,Six-month Return Percentile,One-Year Return,One-Year Return Percentile,Number of Shares to Buy,HQM Score
223,HRB,37.80,0.156539,94.7686,0.386860,100,0.763774,99.5976,0.704857,97.5855,N/A,97.987928
107,COG,22.71,0.249634,99.7988,0.258928,99.5976,0.189137,95.9759,0.350293,93.9638,N/A,97.334004
104,CNC,92.15,0.199724,98.3903,0.064946,96.3783,0.180378,95.5734,0.284714,91.1469,N/A,95.372233
351,OXY,65.98,0.131648,88.33,0.042675,93.5614,0.794246,99.7988,1.572829,99.7988,N/A,95.372233
279,LLY,329.66,0.123064,85.3119,0.104113,98.3903,0.344187,99.3964,0.425287,94.9698,N/A,94.517103
424,TAP,59.89,0.168368,96.5795,0.058268,95.7746,0.189731,96.1771,0.207570,87.3239,N/A,93.963783
452,UNH,541.80,0.182839,98.1891,-0.004546,83.501,0.165225,94.9698,0.335240,93.5614,N/A,92.555332
137,DLTR,180.94,0.135509,89.7384,-0.009931,82.0926,0.305426,97.9879,0.747583,98.1891,N/A,92.002012
94,CI,270.93,0.126987,87.1227,0.058172,95.5734,0.168215,95.171,0.231371,88.9336,N/A,91.700201
228,HUM,495.04,0.161029,95.7746,0.084339,97.3843,0.326749,99.1952,0.082631,73.4406,N/A,91.448692
197,GIS,76.30,0.135868,90.1408,0.045655,93.9638,0.093461,90.5433,0.275024,90.7445,N/A,91.348089
296,MCK,330.50,0.102148,75.8551,0.016958,89.9396,0.322047,98.994,0.785486,98.3903,N/A,90.794769
271,LB,82.15,0.082529,62.3742,0.219688,99.3964,0.828699,100,2.309674,100,N/A,90.442656
466,VRTX,289.20,0.105096,77.2636,0.025335,91.3481,0.259166,97.3843,0.464439,95.3722,N/A,90.342052
54,AZO,2303.29,0.118533,83.501,0.013065,88.9336,0.145131,92.9577,0.422332,94.7686,N/A,90.040241
379,PWR,132.80,0.158179,95.3722,-0.057327,70.4225,0.289788,97.7867,0.549854,96.3783,N/A,89.989940
19,AIV,7.39,0.253520,100,0.070517,96.9819,0.030231,81.0865,0.116512,76.66,N/A,88.682093
85,CDNS,166.19,0.130863,88.1288,0.038690,92.9577,0.054932,85.1107,0.174807,84.7082,N/A,87.726358
312,MRK,92.80,0.092882,68.2093,0.086382,97.7867,0.157818,94.7686,0.250399,89.9396,N/A,87.676056
422,SYY,89.15,0.118320,83.2998,-0.002715,83.9034,0.142870,92.7565,0.273378,90.5433,N/A,87.625755
203,GPC,146.64,0.114992,81.0865,0.069522,96.5795,0.072270,87.3239,0.165819,84.1046,N/A,87.273642
287,LW,77.68,0.144013,91.7505,0.104590,98.5915,0.126765,91.9517,0.023935,64.5875,N/A,86.720322
394,ROL,36.45,0.152728,93.159,0.058882,95.9759,0.148520,93.5614,0.016066,63.3803,N/A,86.519115
253,JKHY,197.04,0.134495,88.9336,-0.036206,76.0563,0.181519,95.7746,0.159380,83.2998,N/A,86.016097
236,INCY,85.73,0.143986,91.5493,0.024360,91.1469,0.088118,89.1348,0.049859,68.6117,N/A,85.110664
141,DRE,60.53,0.149995,92.9577,-0.016853,80.2817,0.024370,80.0805,0.201704,86.5191,N/A,84.959759
349,ORLY,716.18,0.177029,97.7867,-0.056741,70.8249,0.045508,83.9034,0.165216,83.9034,N/A,84.104628
4,ABBV,148.64,0.096924,72.6358,-0.033592,77.0624,0.127758,92.1529,0.365672,94.165,N/A,84.004024
409,SNPS,343.20,0.096412,72.4346,0.057735,95.3722,0.038096,82.2938,0.186728,85.3119,N/A,83.853119
359,PFE,52.64,0.106433,78.4708,0.033100,92.1529,-0.026473,69.4165,0.332407,93.3602,N/A,83.350101
81,CBOE,122.38,0.119213,83.9034,0.039404,93.3602,0.021925,79.0744,0.074165,72.4346,N/A,82.193159
308,MNST,99.10,0.093989,69.2153,0.153290,98.994,0.113517,91.1469,0.044650,67.8068,N/A,81.790744
21,AJG,174.63,0.117328,82.495,-0.069673,66.1972,0.087546,88.9336,0.238750,89.336,N/A,81.740443
278,LKQ,53.60,0.124451,85.7143,0.060442,96.1771,-0.037381,67.6056,0.087665,74.2455,N/A,80.935614
410,SO,71.31,0.101149,75.2515,-0.051014,72.4346,0.072665,87.5252,0.195220,86.1167,N/A,80.331992
294,MCD,260.82,0.095745,72.0322,0.010170,88.5312,0.016949,78.2696,0.148931,81.2877,N/A,80.030181
30,AMCR,12.79,0.077702,58.7525,0.084992,97.5855,0.028228,80.6841,0.151748,81.6901,N/A,79.678068
110,COST,544.50,0.170250,96.9819,-0.124184,43.4608,0.065220,86.7203,0.269899,90.1408,N/A,79.325956
257,K,73.18,0.067865,49.497,0.054003,94.9698,0.092090,90.3421,0.146281,80.8853,N/A,78.923541
112,CPB,48.39,0.076261,57.7465,0.056674,95.171,0.071185,87.1227,0.094624,75.2515,N/A,78.822938
478,WMB,34.10,0.088552,65.5936,-0.079005,61.167,0.148311,93.3602,0.389195,94.3662,N/A,78.621730
47,ATO,112.90,0.098797,74.0443,-0.061461,69.4165,0.079301,87.7264,0.152735,82.0926,N/A,78.319920
488,XOM,90.31,0.026212,25.7545,0.016852,89.7384,0.233454,96.9819,0.688946,97.1831,N/A,77.414487
382,QCOM,156.33,0.228082,99.1952,0.052065,94.5674,-0.142656,41.8511,0.082783,73.6419,N/A,77.313883
10,ADI,168.24,0.120644,84.1046,-0.000743,84.3058,-0.000414,73.8431,0.034733,66.5996,N/A,77.213280
473,WEC,100.48,0.098842,74.2455,-0.046992,73.6419,0.048084,84.507,0.085863,73.8431,N/A,76.559356
413,SRE,159.21,0.097669,73.0382,-0.103466,51.1066,0.136232,92.3541,0.211188,87.9276,N/A,76.106640
262,KLAC,359.75,0.108174,79.0744,0.027100,91.7505,-0.121011,47.0825,0.189778,85.7143,N/A,75.905433
105,CNP,29.45,0.086383,64.3863,-0.077360,62.173,0.090729,89.9396,0.202154,86.9215,N/A,75.855131
152,ED,94.20,0.061655,43.8632,-0.053043,71.831,0.149882,93.7626,0.312822,92.1529,N/A,75.402414

Resetting the indices.

In [94]:
hqm_dataframe.reset_index(drop = True, inplace = True)
hqm_dataframe

,Ticker,Price,One-month Return,One-month Return Percentile,Three-month Return,Three-month Return Percentile,Six-month Return,Six-month Return Percentile,One-Year Return,One-Year Return Percentile,Number of Shares to Buy,HQM Score
0,HRB,37.80,0.156539,94.7686,0.386860,100,0.763774,99.5976,0.704857,97.5855,N/A,97.987928
1,COG,22.71,0.249634,99.7988,0.258928,99.5976,0.189137,95.9759,0.350293,93.9638,N/A,97.334004
2,CNC,92.15,0.199724,98.3903,0.064946,96.3783,0.180378,95.5734,0.284714,91.1469,N/A,95.372233
3,OXY,65.98,0.131648,88.33,0.042675,93.5614,0.794246,99.7988,1.572829,99.7988,N/A,95.372233
4,LLY,329.66,0.123064,85.3119,0.104113,98.3903,0.344187,99.3964,0.425287,94.9698,N/A,94.517103
5,TAP,59.89,0.168368,96.5795,0.058268,95.7746,0.189731,96.1771,0.207570,87.3239,N/A,93.963783
6,UNH,541.80,0.182839,98.1891,-0.004546,83.501,0.165225,94.9698,0.335240,93.5614,N/A,92.555332
7,DLTR,180.94,0.135509,89.7384,-0.009931,82.0926,0.305426,97.9879,0.747583,98.1891,N/A,92.002012
8,CI,270.93,0.126987,87.1227,0.058172,95.5734,0.168215,95.171,0.231371,88.9336,N/A,91.700201
9,HUM,495.04,0.161029,95.7746,0.084339,97.3843,0.326749,99.1952,0.082631,73.4406,N/A,91.448692
10,GIS,76.30,0.135868,90.1408,0.045655,93.9638,0.093461,90.5433,0.275024,90.7445,N/A,91.348089
11,MCK,330.50,0.102148,75.8551,0.016958,89.9396,0.322047,98.994,0.785486,98.3903,N/A,90.794769
12,LB,82.15,0.082529,62.3742,0.219688,99.3964,0.828699,100,2.309674,100,N/A,90.442656
13,VRTX,289.20,0.105096,77.2636,0.025335,91.3481,0.259166,97.3843,0.464439,95.3722,N/A,90.342052
14,AZO,2303.29,0.118533,83.501,0.013065,88.9336,0.145131,92.9577,0.422332,94.7686,N/A,90.040241
15,PWR,132.80,0.158179,95.3722,-0.057327,70.4225,0.289788,97.7867,0.549854,96.3783,N/A,89.989940
16,AIV,7.39,0.253520,100,0.070517,96.9819,0.030231,81.0865,0.116512,76.66,N/A,88.682093
17,CDNS,166.19,0.130863,88.1288,0.038690,92.9577,0.054932,85.1107,0.174807,84.7082,N/A,87.726358
18,MRK,92.80,0.092882,68.2093,0.086382,97.7867,0.157818,94.7686,0.250399,89.9396,N/A,87.676056
19,SYY,89.15,0.118320,83.2998,-0.002715,83.9034,0.142870,92.7565,0.273378,90.5433,N/A,87.625755
20,GPC,146.64,0.114992,81.0865,0.069522,96.5795,0.072270,87.3239,0.165819,84.1046,N/A,87.273642
21,LW,77.68,0.144013,91.7505,0.104590,98.5915,0.126765,91.9517,0.023935,64.5875,N/A,86.720322
22,ROL,36.45,0.152728,93.159,0.058882,95.9759,0.148520,93.5614,0.016066,63.3803,N/A,86.519115
23,JKHY,197.04,0.134495,88.9336,-0.036206,76.0563,0.181519,95.7746,0.159380,83.2998,N/A,86.016097
24,INCY,85.73,0.143986,91.5493,0.024360,91.1469,0.088118,89.1348,0.049859,68.6117,N/A,85.110664
25,DRE,60.53,0.149995,92.9577,-0.016853,80.2817,0.024370,80.0805,0.201704,86.5191,N/A,84.959759
26,ORLY,716.18,0.177029,97.7867,-0.056741,70.8249,0.045508,83.9034,0.165216,83.9034,N/A,84.104628
27,ABBV,148.64,0.096924,72.6358,-0.033592,77.0624,0.127758,92.1529,0.365672,94.165,N/A,84.004024
28,SNPS,343.20,0.096412,72.4346,0.057735,95.3722,0.038096,82.2938,0.186728,85.3119,N/A,83.853119
29,PFE,52.64,0.106433,78.4708,0.033100,92.1529,-0.026473,69.4165,0.332407,93.3602,N/A,83.350101
30,CBOE,122.38,0.119213,83.9034,0.039404,93.3602,0.021925,79.0744,0.074165,72.4346,N/A,82.193159
31,MNST,99.10,0.093989,69.2153,0.153290,98.994,0.113517,91.1469,0.044650,67.8068,N/A,81.790744
32,AJG,174.63,0.117328,82.495,-0.069673,66.1972,0.087546,88.9336,0.238750,89.336,N/A,81.740443
33,LKQ,53.60,0.124451,85.7143,0.060442,96.1771,-0.037381,67.6056,0.087665,74.2455,N/A,80.935614
34,SO,71.31,0.101149,75.2515,-0.051014,72.4346,0.072665,87.5252,0.195220,86.1167,N/A,80.331992
35,MCD,260.82,0.095745,72.0322,0.010170,88.5312,0.016949,78.2696,0.148931,81.2877,N/A,80.030181
36,AMCR,12.79,0.077702,58.7525,0.084992,97.5855,0.028228,80.6841,0.151748,81.6901,N/A,79.678068
37,COST,544.50,0.170250,96.9819,-0.124184,43.4608,0.065220,86.7203,0.269899,90.1408,N/A,79.325956
38,K,73.18,0.067865,49.497,0.054003,94.9698,0.092090,90.3421,0.146281,80.8853,N/A,78.923541
39,CPB,48.39,0.076261,57.7465,0.056674,95.171,0.071185,87.1227,0.094624,75.2515,N/A,78.822938
40,WMB,34.10,0.088552,65.5936,-0.079005,61.167,0.148311,93.3602,0.389195,94.3662,N/A,78.621730
41,ATO,112.90,0.098797,74.0443,-0.061461,69.4165,0.079301,87.7264,0.152735,82.0926,N/A,78.319920
42,XOM,90.31,0.026212,25.7545,0.016852,89.7384,0.233454,96.9819,0.688946,97.1831,N/A,77.414487
43,QCOM,156.33,0.228082,99.1952,0.052065,94.5674,-0.142656,41.8511,0.082783,73.6419,N/A,77.313883
44,ADI,168.24,0.120644,84.1046,-0.000743,84.3058,-0.000414,73.8431,0.034733,66.5996,N/A,77.213280
45,WEC,100.48,0.098842,74.2455,-0.046992,73.6419,0.048084,84.507,0.085863,73.8431,N/A,76.559356
46,SRE,159.21,0.097669,73.0382,-0.103466,51.1066,0.136232,92.3541,0.211188,87.9276,N/A,76.106640
47,KLAC,359.75,0.108174,79.0744,0.027100,91.7505,-0.121011,47.0825,0.189778,85.7143,N/A,75.905433
48,CNP,29.45,0.086383,64.3863,-0.077360,62.173,0.090729,89.9396,0.202154,86.9215,N/A,75.855131
49,ED,94.20,0.061655,43.8632,-0.053043,71.831,0.149882,93.7626,0.312822,92.1529,N/A,75.402414

That looks good. Now, we can proceed to calculating the number of shares of each stock that one must buy.

## Calculating the Number of Shares to Buy:

We'll use the portfolio_input function that we created earlier to accept our portfolio size. Then we will use similar logic in a for loop to calculate the number of shares to buy for each stock in our investment universe.

In [79]:
portfolio_input()

Please enter the value of your portfolio: 1000000

In [95]:
position_size = float(portfolio_size)/len(hqm_dataframe.index)
for index in hqm_dataframe.index:
    hqm_dataframe.loc[index, 'Number of Shares to Buy'] = math.floor(position_size/hqm_dataframe['Price'][index])
hqm_dataframe

c:\users\suer\appdata\local\programs\python\python36-32\lib\site-packages\pandas\core\indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

,Ticker,Price,One-month Return,One-month Return Percentile,Three-month Return,Three-month Return Percentile,Six-month Return,Six-month Return Percentile,One-Year Return,One-Year Return Percentile,Number of Shares to Buy,HQM Score
0,HRB,37.80,0.156539,94.7686,0.386860,100,0.763774,99.5976,0.704857,97.5855,529,97.987928
1,COG,22.71,0.249634,99.7988,0.258928,99.5976,0.189137,95.9759,0.350293,93.9638,880,97.334004
2,CNC,92.15,0.199724,98.3903,0.064946,96.3783,0.180378,95.5734,0.284714,91.1469,217,95.372233
3,OXY,65.98,0.131648,88.33,0.042675,93.5614,0.794246,99.7988,1.572829,99.7988,303,95.372233
4,LLY,329.66,0.123064,85.3119,0.104113,98.3903,0.344187,99.3964,0.425287,94.9698,60,94.517103
5,TAP,59.89,0.168368,96.5795,0.058268,95.7746,0.189731,96.1771,0.207570,87.3239,333,93.963783
6,UNH,541.80,0.182839,98.1891,-0.004546,83.501,0.165225,94.9698,0.335240,93.5614,36,92.555332
7,DLTR,180.94,0.135509,89.7384,-0.009931,82.0926,0.305426,97.9879,0.747583,98.1891,110,92.002012
8,CI,270.93,0.126987,87.1227,0.058172,95.5734,0.168215,95.171,0.231371,88.9336,73,91.700201
9,HUM,495.04,0.161029,95.7746,0.084339,97.3843,0.326749,99.1952,0.082631,73.4406,40,91.448692
10,GIS,76.30,0.135868,90.1408,0.045655,93.9638,0.093461,90.5433,0.275024,90.7445,262,91.348089
11,MCK,330.50,0.102148,75.8551,0.016958,89.9396,0.322047,98.994,0.785486,98.3903,60,90.794769
12,LB,82.15,0.082529,62.3742,0.219688,99.3964,0.828699,100,2.309674,100,243,90.442656
13,VRTX,289.20,0.105096,77.2636,0.025335,91.3481,0.259166,97.3843,0.464439,95.3722,69,90.342052
14,AZO,2303.29,0.118533,83.501,0.013065,88.9336,0.145131,92.9577,0.422332,94.7686,8,90.040241
15,PWR,132.80,0.158179,95.3722,-0.057327,70.4225,0.289788,97.7867,0.549854,96.3783,150,89.989940
16,AIV,7.39,0.253520,100,0.070517,96.9819,0.030231,81.0865,0.116512,76.66,2706,88.682093
17,CDNS,166.19,0.130863,88.1288,0.038690,92.9577,0.054932,85.1107,0.174807,84.7082,120,87.726358
18,MRK,92.80,0.092882,68.2093,0.086382,97.7867,0.157818,94.7686,0.250399,89.9396,215,87.676056
19,SYY,89.15,0.118320,83.2998,-0.002715,83.9034,0.142870,92.7565,0.273378,90.5433,224,87.625755
20,GPC,146.64,0.114992,81.0865,0.069522,96.5795,0.072270,87.3239,0.165819,84.1046,136,87.273642
21,LW,77.68,0.144013,91.7505,0.104590,98.5915,0.126765,91.9517,0.023935,64.5875,257,86.720322
22,ROL,36.45,0.152728,93.159,0.058882,95.9759,0.148520,93.5614,0.016066,63.3803,548,86.519115
23,JKHY,197.04,0.134495,88.9336,-0.036206,76.0563,0.181519,95.7746,0.159380,83.2998,101,86.016097
24,INCY,85.73,0.143986,91.5493,0.024360,91.1469,0.088118,89.1348,0.049859,68.6117,233,85.110664
25,DRE,60.53,0.149995,92.9577,-0.016853,80.2817,0.024370,80.0805,0.201704,86.5191,330,84.959759
26,ORLY,716.18,0.177029,97.7867,-0.056741,70.8249,0.045508,83.9034,0.165216,83.9034,27,84.104628
27,ABBV,148.64,0.096924,72.6358,-0.033592,77.0624,0.127758,92.1529,0.365672,94.165,134,84.004024
28,SNPS,343.20,0.096412,72.4346,0.057735,95.3722,0.038096,82.2938,0.186728,85.3119,58,83.853119
29,PFE,52.64,0.106433,78.4708,0.033100,92.1529,-0.026473,69.4165,0.332407,93.3602,379,83.350101
30,CBOE,122.38,0.119213,83.9034,0.039404,93.3602,0.021925,79.0744,0.074165,72.4346,163,82.193159
31,MNST,99.10,0.093989,69.2153,0.153290,98.994,0.113517,91.1469,0.044650,67.8068,201,81.790744
32,AJG,174.63,0.117328,82.495,-0.069673,66.1972,0.087546,88.9336,0.238750,89.336,114,81.740443
33,LKQ,53.60,0.124451,85.7143,0.060442,96.1771,-0.037381,67.6056,0.087665,74.2455,373,80.935614
34,SO,71.31,0.101149,75.2515,-0.051014,72.4346,0.072665,87.5252,0.195220,86.1167,280,80.331992
35,MCD,260.82,0.095745,72.0322,0.010170,88.5312,0.016949,78.2696,0.148931,81.2877,76,80.030181
36,AMCR,12.79,0.077702,58.7525,0.084992,97.5855,0.028228,80.6841,0.151748,81.6901,1563,79.678068
37,COST,544.50,0.170250,96.9819,-0.124184,43.4608,0.065220,86.7203,0.269899,90.1408,36,79.325956
38,K,73.18,0.067865,49.497,0.054003,94.9698,0.092090,90.3421,0.146281,80.8853,273,78.923541
39,CPB,48.39,0.076261,57.7465,0.056674,95.171,0.071185,87.1227,0.094624,75.2515,413,78.822938
40,WMB,34.10,0.088552,65.5936,-0.079005,61.167,0.148311,93.3602,0.389195,94.3662,586,78.621730
41,ATO,112.90,0.098797,74.0443,-0.061461,69.4165,0.079301,87.7264,0.152735,82.0926,177,78.319920
42,XOM,90.31,0.026212,25.7545,0.016852,89.7384,0.233454,96.9819,0.688946,97.1831,221,77.414487
43,QCOM,156.33,0.228082,99.1952,0.052065,94.5674,-0.142656,41.8511,0.082783,73.6419,127,77.313883
44,ADI,168.24,0.120644,84.1046,-0.000743,84.3058,-0.000414,73.8431,0.034733,66.5996,118,77.213280
45,WEC,100.48,0.098842,74.2455,-0.046992,73.6419,0.048084,84.507,0.085863,73.8431,199,76.559356
46,SRE,159.21,0.097669,73.0382,-0.103466,51.1066,0.136232,92.3541,0.211188,87.9276,125,76.106640
47,KLAC,359.75,0.108174,79.0744,0.027100,91.7505,-0.121011,47.0825,0.189778,85.7143,55,75.905433
48,CNP,29.45,0.086383,64.3863,-0.077360,62.173,0.090729,89.9396,0.202154,86.9215,679,75.855131
49,ED,94.20,0.061655,43.8632,-0.053043,71.831,0.149882,93.7626,0.312822,92.1529,212,75.402414

We're almost finished. All we need to do is to frmat our output into an Excel file in order for it to be accessible to the general public.

## Formatting Our Excel Output:

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files. XlsxWriter is an excellent package and offers tons of customization. We start by initialising the xlsxwriter object.

In [121]:
writer = pd.ExcelWriter('momentum_strategy.xlsx', engine='xlsxwriter')
hqm_dataframe.to_excel(writer, sheet_name='Momentum Strategy', index = False)

You'll recall from our first project (Equal Weight S&P 500) that formats include colors, fonts, and also symbols like % and $. We'll need four main formats for our Excel document:

- String format for tickers
- $XX.XX format for stock prices
- $XX,XXX format for market capitalization
- Integer format for the number of shares to purchase
- Percent format for the ratios
- Decimal format for the HQM Values
Since we already built our formats in the last project, I've included them below for you. Run this code cell before proceeding.

In [122]:
background_color = '#ffffff'
font_color = '#000000'
# let's start with string format
string_format = writer.book.add_format(
        {
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )
dollar_format = writer.book.add_format(
        {
            'num_format': '$0.00',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )
integer_format = writer.book.add_format(
        {
            'num_format': '0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )
# this assigns formats to each of the variables

To this we'll add a few other formats that are missing, which handles the percentages, float, and, bold letters for the column labels.

In [123]:
percent_format = writer.book.add_format(
        {
            'num_format':'0.0%',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )
decimal_format = writer.book.add_format(
        {
            'num_format': '0.00',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )
bold_format = writer.book.add_format({'bold': True})

Now we apply the formats to the columns of the data frame. We create a dictionary with the column details and loop through that.

In [124]:
column_formats = { 
                    'A': ['Ticker', string_format],
                    'B': ['Price', dollar_format],
                    'C': ['One-month Return', percent_format],
                    'D': ['One-month Return Percentile', decimal_format],
                    'E': ['Three-month Return', percent_format],
                    'F': ['Three-month Return Percentile', decimal_format],
                    'G': ['Six-month Return', percent_format],
                    'H': ['Six-month Return Percentile', decimal_format],
                    'I': ['One-Year Return', percent_format],
                    'J': ['One-Year Return Percentile', decimal_format],
                    'K': ['Number of Shares to Buy', integer_format],
                    'L': ['HQM Score', decimal_format]
                    }
for column in column_formats.keys():
    writer.sheets['Momentum Strategy'].set_column(f'{column}:{column}', 20, column_formats[column][1])
    writer.sheets['Momentum Strategy'].write(f'{column}1', column_formats[column][0], bold_format)
writer.save()

Voila! And that brings us to the end of this project. The purposes of which was to practice API calling, data cleaning and exploration, debugging, and, formatting of our data into xlsx files.